{% extends 'base.html' %}
<!--  -->
{% block title %}Моє Портфоліо{% endblock %}
<!--  -->
{% block nav%}
<li class="nav-item">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit"><a class="nav-link active"
            href="{{ url_for('portfolio') }}">Портфоліо</a></button>
</li>
<li class="nav-item">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit"><a class="nav-link active"
            href="{{ url_for('about') }}">Про проект</a></button>
</li>
{% endblock %}
<!--  -->
{% block content %}
<h1>Це початкова сторінка проекту</h1>
<p>Використовуйте кнопки вище, щоб навігуватись по сайту.</p>
{% endblock %}