{% extends 'base.html' %}
<!--  -->
{% block title %}Мої Навички{% endblock %}
<!--  -->
{% block nav%}
<li class="nav-item">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit"><a class="nav-link active"
            href="{{ url_for('index') }}">Початкова сторінка</a></button>
</li>
<li class="nav-item">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit"><a class="nav-link active"
            href="{{ url_for('portfolio') }}">Портфоліо</a></button>
</li>
<li class="nav-item">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit"><a class="nav-link active"
            href="{{ url_for('about') }}">Про проект</a></button>
</li>
{% endblock %}
<!--  -->
{% block content %}
<h2>Мої навички:</h2>
<ul>
    {% for skill in skills %}
    <li>{{ skill }}</li>
    {% endfor %}
</ul>
{% endblock %}