{% extends 'base.html' %}
<!--  -->
{% block title %}Опитування{% endblock %}
<!--  -->
{% block nav %}
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for('index') }}">Початкова сторінка</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for('portfolio') }}">Портфоліо</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for('about') }}">Про проект</a>
</li>
{% endblock %}
<!--  -->
{% block content %}
<form method="post" action="{{ url_for('feedback') }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <label for="name" class="form-label">Ваше ім'я:</label>
        {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
        <label for="comment" class="form-label">Ваш коментар:</label>
        {{ form.comment(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
<!-- <div class="form-group" style="margin: 10px; text-align: center;">
    <label class="col-form-label mt-4" for="inputDefault">Введіть ваш відгук. Він дуже важливий!</label>
    <input type="text" class="form-control" placeholder="Ваш відгук повинен бути написаний тут." id="inputDefault">
</div> -->
<hr>
<h2>Feedback List</h2>

<div class="row">
    {% for feedback in feedbacks %}
    <div class="col-md-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 100%;">
            <div class="card-header">{{ feedback.name }} каже:</div>
            <div class="card-body">
                <p class="card-text">"{{ feedback.comment }}"</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}