{% extends 'base.html' %}
<!--  -->
{% block title %}Вхід у профіль{% endblock %}
<!--  -->
{% block nav%}
<li class="nav-item">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit"><a class="nav-link active"
            href="{{ url_for('portfolio') }}">Портфоліо</a></button>
</li>
<li class="nav-item">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit"><a class="nav-link active"
            href="{{ url_for('about') }}">Про проект</a></button>
</li>
<li class="nav-item">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit"><a class="nav-link active"
            href="{{ url_for('feedback') }}">Відгуки</a></button>
</li>
{% endblock %}
<!--  -->
{% block content %}

<form method="POST" action="{{ url_for('login') }}">
    <table class="table table-hover" style="text-align: center;">
        <tr class="table-primary">
            <td>{{ form.username.label }}</td>
            <td>{{ form.password.label }}</td>
        </tr>
        <tr class="table-primary">
            <td>{{ form.username() }}</td>
            <td>{{ form.password() }}</td>
        </tr>
        <tr class="table-primary">
            <td colspan="2">{{ form.hidden_tag() }} {{ form.submit() }}</td>
        </tr>
    </table>
</form>
{% endblock %}