{% extends 'base.html' %}
<!--  -->
{% block title %}Про проект{% endblock %}
<!--  -->
{% block nav %}
<li class="nav-item">
    <button class="btn btn-secondary my-2 my-sm-0"><a class="nav-link active" href="{{ url_for('index') }}">Початкова
            сторінка</a></button>
</li>
<li class="nav-item">
    <button class="btn btn-secondary my-2 my-sm-0"><a class="nav-link active"
            href="{{ url_for('portfolio') }}">Портфоліо</a></button>
</li>
<li class="nav-item">
    <button class="btn btn-secondary my-2 my-sm-0"><a class="nav-link active"
            href="{{ url_for('feedback') }}">Відгуки</a></button>
</li>
{% endblock %}
<!--  -->
{% block content %}
<div class="card border-primary mb-3" style="margin: 10px;">
    <div class="card-header">Оновлення</div>
    <div class="card-body">
        <h4 class="card-title">Лабораторна робота 3</h4>
        <p class="card-text">Станом на кінець виконання лабораторної роботи 3 було створено проект, в якому було
            створено сервер, базову сторінку-темплейт та три сторінки: початкова, портфоліо та про проект.</p>
    </div>
</div>
<div class="card border-primary mb-3" style="margin: 10px;">
    <div class="card-header">Оновлення</div>
    <div class="card-body">
        <h4 class="card-title">Самостійна робота 1</h4>
        <p class="card-text">Було створено форму для введення імені та коментаря, додано вивід відгуків та підключено
            базу даних для зберігання інформації.</p>
    </div>
</div>
<div class="card border-primary mb-3" style="margin: 10px;">
    <div class="card-header">Оновлення</div>
    <div class="card-body">
        <h4 class="card-title">Лабораторна робота 4</h4>
        <p class="card-text">Було додано форму для авторизації та дві сторінки: "Інформація про користувача" та "Логін".
            На сторінці про користувача було додано форму для додавання та видалення кук. Оновлено елементи сайту та
            додано футер з інформацією про систему користувача.
        </p>
    </div>
</div>
{% endblock %}